{% extends 'layout.html' %}
{% block title %} User Listing {% endblock %}
{% block content %}
<div class="col-12">
    <div class="QA_section">
        <div class="white_box_tittle list_header">
            <h4>Add Patient</h4>
            <div class="box_right d-flex lms_block">                
                <div class="add_button ms-2">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#addcategory" class="btn_1">Back</a>
                </div>
            </div>
        </div>
        <div class="QA_table mb_30">
            <p>User Add section setup</p>
        </div>
    </div>
</div>        
{% endblock %}