{% extends 'layout.html' %}
{% block title %} User Listing {% endblock %}
{% block content %}
<div class="col-12">
    <div class="QA_section">
        <div class="white_box_tittle list_header">
            <h4>Table</h4>
            <div class="box_right d-flex lms_block">
                <div class="serach_field_2">
                    <div class="search_inner">
                        <form active="#">
                            <div class="search_field">
                                <input type="text" placeholder="Search content here..." />
                            </div>
                            <button type="submit"><i class="ti-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="add_button ms-2">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#addcategory" class="btn_1">Add New</a>
                </div>
            </div>
        </div>
        <div class="QA_table mb_30">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                <table class="table lms_table_active dataTable no-footer dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1522px;">
                    <thead>
                        <tr role="row">
                            <th scope="col" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 137px;" aria-sort="ascending" aria-label="Name: activate to sort column descending" > Name </th>
                            <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 210px;" aria-label="Email: activate to sort column ascending">Email</th>
                            <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 205px;" aria-label="Phone: activate to sort column ascending">Status</th>
                            <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 193px;" aria-label="Lesson: activate to sort column ascending">Date Created</th>
                            <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 98px;" aria-label="Enrolled: activate to sort column ascending">Date Modified</th>
                        </tr>
                    </thead>
                    <tbody>                                    
                        {% for user in users.items %} 
                        {{user}}
                            <tr role="row" class="odd">
                                <td>{{ user.full_name }}</td>
                                <td>{{ user['email'] }}</td>
                                <td>    
                                    {% if user['status']== 1 %}
                                    <span class="badge bg-success">Active</span>
                                    {% else %}
                                    <span class="badge bg-secondary">Inactive</span>
                                    {% endif %}
                                </td>
                                <td>{{ user['created_on'] }}</td>
                                <td>{{ user['updated_on'] }}</td>
                            </tr>     
                        {% endfor %}                                    
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                     <ul class="pagination">
                    <!-- previous page -->
                    {% if users.has_prev %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('dashboard', page=users.prev_num) }}">Previous</a>
                        </li>
                    {% endif %}

                    <!-- all page numbers -->
                    {% for page_num in users.iter_pages() %}
                        {% if page_num %}
                            {% if page_num != users.page %}
                                <li  class="page-item"><a class="page-link" href="{{ url_for('dashboard', page=page_num) }}">{{ page_num }}</a></li>
                            {% else %}
                                <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                            {% endif %}
                        {% else %}
                            <li class="page-item">
                                <span class="ellipsis" style="overflow: hidden; text-overflow: ellipsis">…</span>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <!-- next page -->
                    {% if users.has_next %}
                        <li  class="page-item"><a class="page-link" href="{{ url_for('dashboard', page=users.next_num) }}">Next</a></li>
                    {% endif %}     
                    </ul> 
                </nav>
            </div>
        </div>
    </div>
</div>        
{% endblock %}