<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}{% endblock %} - RxInfo</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery1-3.4.1.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/metisMenu.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/jquery.barfiller.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/summernote-bs4.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/tagsinput.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/metisMenu.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='themify-icons.css') }}">
</head>
<body class="crm_body_bg">
    <nav class="sidebar">
        <div class="logo d-flex justify-content-between">
            <a href="index.html"><img src="{{url_for('static', filename='img/logo1.png')}}" alt="" /></a>
            <div class="sidebar_close_icon d-lg-none">
                <i class="ti-close"></i>
            </div>
        </div>
        {% include 'layout_elements/sidebar.html' %}
    </nav>    
    <section class="main_content dashboard_part">
        {% include 'layout_elements/navbar.html' %}
        {#{session['AuthUser']}#}
        {% include 'alerts/alert.html' %}
        <div class="main_content_iner">
            <div class="container-fluid p-0">
                <div class="row justify-content-center">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="footer_part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer_iner text-center">
                            <p>
                                2020 © Influence - Designed by <a href="#"> <i class="ti-heart"></i> </a><a href="#"> Dashboard</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";    
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    </script>
</body>
</html>
